{% extends 'movies/base.html' %}

{% block content %}




<div class="table-body">
<a href="{% url 'addmovie' %}"><button type="button" class="btn btn-dark">
    Добавить кино
</button></a>
<h1>Админ панель</h1>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Название</th>
      <th scope="col">Дата публикации</th>
      <th scope="col">Редактирование</th>
      <th scope="col">Удаление</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
  {% for i in list_articles %}
    <tr>
      <th scope="row">{{ i.id }}</th>
      <td><a href="{{ i.get_absolute_url }}">{{ i.name }}</a></td>
      <td>{{ i.date_create }}</td>
      <td><a href="{% url 'post_edit' i.pk %}">Редактировать</a></td>
      <td><a class="update_status" data-url="{% url 'update_movie_redact' i.id 'delete' %}" href="#">Удалить</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
</div>



{% endblock %}

{% block js %}
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<script>
    $('body').on('click', '.update_status', function(event){
        if (confirm('Вы уверены что хотите удалить объект?')){
            var url = $(this).attr('data-url')
            console.log(url)

            $.ajax({
                url:url,
                type: 'GET'
            })
        }

    })
</script>



{% endblock %}