{% extends 'movies/base.html' %}

{% include 'include/sidebar.html' %}

{% block sidebar %}{% include 'include/sidebar.html' %}{% endblock %}


{% block content %}


{% for item in movie %}
<div class="movie-block">

    <img class="movie-img" src="{{ item.poster.url }}">
    <h4 class="movie-text"><a style="text-decoration: none;" href="{{ item.get_absolute_url }}">{{ item.name }}</a></h4>
    <p class="movie-text">{{ item.description|linebreaks|truncatewords:20 }}</p>
    <div class="CatGenres">
        <span class="movie-text">Категория: {{ item.category }}</span><br>
        <span>Жанры:
            {% for cat in item.genres.all|slice:":3" %}
            <span class="movie-text">
                {{ cat.name }}{% if not forloop.last %}, {% elif item.genres.all.count < 3 %}.{% else %}...{% endif %}
            </span>
            {% endfor %}
        </span>
    </div>
</div>
{% endfor %}
{% endblock %}