<div class="main">
<div class="sidebar">
                <div class="search">
                    <h2>ПОИСК</h2>
                </div>
            <form action="{% url 'filter' %}" class="search-form" method="get">
                <input class="search-input form-control" name="name" type="text">
                <button class="btn btn-dark" type="submit">Поиск</button>
            </form>
            <form action="{% url 'filter' %}" method="get">
                <div class="menu genres">
                    <h4>Жанры</h4>
                    <ul class="search-list">

                        {% for i in view.get_genres %}
                        <li>
                            <input type="checkbox" name="genre" value="{{ i.id }}">
                            <span>{{ i.name }}</span>
                        </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="search genres">
                    <h4>Категория</h4>
                    <ul class="search-list">
                        {% for i in view.get_category %}
                        <li>
                            <input type="checkbox" name="category" value="{{ i.id }}">
                            <span>{{ i.name }}</span>
                        </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="search genres">
                    <h4>Год</h4>
                    <ul class="search-list">
                        {% for i in view.get_years %}
                        <li>
                            <input type="checkbox" name="year" value="{{ i.year }}">
                            <span>{{ i.year }}</span>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                 <div class="search genres">
                    <h4>Возраст</h4>
                    <ul class="search-list">
                        {% for i in view.get_age %}
                        <li>
                            <input type="checkbox" name="age" value="{{ i.age }}">
                            <span>{{ i.age }}</span>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                    <button type="submit" class="btn btn-dark">Найти</button>
                </form>
    </div>